<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/tutoWelcome/css/welcome.css') }}"  type="text/css" media="all" />
    {% endblock %}
    <title>Tutoriel Symfony2 : {% block title %}{% endblock %}</title>
</head>
<body>
<div id="container">
    <header>
        <a href="{{ path('homepage') }}" title="Retour à l'accueil">Tutoriel Symfony2</a>
        <p>
            {% set nom = '' %}
            {% for key, flash in app.session.getFlashBag() %}
                {% if flash and key=='nom' %}

                    {% set nom = flash[0] %}
                    Bienvenue à toi {{ nom  }} !
                {% endif %}
            {% endfor %}
        </p>
    </header>

    {% block content %}

    {% endblock %}
    <footer>
    </footer>
</div>
</body>
</html>